.ButtonStatic:active {
    transform: scale(1);
}
.ButtonPointer:hover {
    cursor: pointer;
}

.customScroll::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.customScroll::-webkit-scrollbar-track {
    border: 1px solid yellowgreen;
    border-radius: 10px;
}

.customScroll::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 10px;
}

.customScroll::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;
}